body{
    background-color: rgb(63, 60, 53);
    background-image: url('https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    margin: 0px;
}

.weather-details{

    background-color: darkgrey;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    max-width:900px;
    width: 100%;
   
    
    font-family: sans-serif;
    border-bottom: 10px solid greenyellow;


}
#city-name{
    font-size:60px;
color:rgb(18, 84, 158);
}
#nbo{
    font-size:60px;
color:rgb(18, 84, 158);
}
#temp{
    font-size: 50px;
    font-weight: 700;
}
#nbo-temp{
    font-size: 50px;
    font-weight: 700;
}
#line{
 border-bottom: 4px solid black;
 border-radius: 15px;
}
#search-container{
    margin-left: 600px;
    margin-top: 20px;
}

.London-details{

    background-color: darkgrey;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-width: 300px;
    margin-left: 600px;
    
    font-family: sans-serif;
    border-bottom: 10px solid greenyellow;


}

  

